*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  font-size: $primary-font-size;
  font-weight: $primary-font-weight;
  color: $primary-text-color;
  line-height: $primary-line-height;
  font-family: $primary-font;
  background-color: $primary-bg-color;
  font-style: normal;
  letter-spacing: 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: $primary-heading-color;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  color: #7a7a7a;
  margin-bottom: 1rem;
}

.section-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $primary-heading-color;
  text-transform: capitalize;
  margin-bottom: 0;
}
